<div class="contents row">
  <% @texts.each do |text| %>
    <div class="content_post" style="background-image: url(<%= text.image %>);">
      <span class="day">
        <%= text.day %>
      </span>
      <p><%= text.place %></p>
      <p><%= text.transportation %></p>
      <p><%= text.freedom %></p>
      
    </div>
    <%= image_tag text.image, class: 'text-image' if text.image.attached?%>
  <% end %>
</div>
