<div class="contents row">
  <div class="container">
    <h3></h3>
    <%= form_with(model: @text, local: true) do |form| %>
      <%= form.text_field :day, placeholder: "日時" %>
      <%= form.text_field :transportation, placeholder: "交通手段" %>
      <%= form.text_field :place, placeholder: "金額" %>
      <%= form.text_area :freedom, placeholder: "自由なスペース", rows: "10" %>
      <%= form.submit "保存", id: "submit" %>
      <div id="list">
　　　　</div>
      <div class="click-upload">
          <div id="image-list"></div>
        <%= form.file_field :image, id:"text-image" %>
      </div>
    </div>
    <% end %>
  </div>
</div>